html {
    height: 100%;
    margin: 0; 
    overflow: hidden;
  }
  
  .bg {
    background-image: linear-gradient(100deg, #64B087, #30463E);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 25%;
    border-radius: 50%;
  }