html {
    height: 100%;
    margin: 0; 
    overflow: hidden;
  }
  
  .bg {
    min-height:100%;
    background-image: linear-gradient(100deg, #64B087, #30463E);
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins';
  }

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 50%;
  }

  .buttons{
    margin-left: auto;
    margin-right: auto;

  }

  .name{
    text-align: center;
    color: white;
    font-size:3vw;
  }
  .desc{
    text-align: center;
    color: white;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github{
  background: #1E2127;
  color: white;

}