name: Deploy to Server via SSH

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy via SSH
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to server via rsync
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -rlvz --delete --omit-dir-times --exclude-from='.rsyncignore'
          path: ./
          remote_path: /home/hestiko/htdocs/www.cihat.app/
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: hestiko
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          remote_port: 22
